
<article class="row-fluid"> 
	<div class="span12">
		<div class="jumbotron masthead">
  <div class="container">
    <h1>Bootstrap</h1>
    <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>
    <p><a href="assets/bootstrap.zip" class="btn btn-primary btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.1.0']);">Download Bootstrap</a></p>
    <ul class="masthead-links">
      <li><a href="http://github.com/twitter/bootstrap" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">GitHub project</a></li>
      <li><a href="./extend.html" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);">Extend</a></li>
      <li>Version 2.1.0</li>
    </ul>
  </div>
</div>

		<div id="page-text">
			<%= render_page_title(resource.title) %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
</article>
