<% content_for :slideshow do %>
	<div class="row-fluid"> 
		<div class="span12">
			<%= render "images/carousel", :images => resource.images, :image_style => site.preferred_image_carousel_size %>
		</div>
	</div>
<% end if resource.images.try(:any?) %>
<% resource_cache(resource) do %>
	<div class="row-fluid"> 
		<div class="span12">
			<%= render_page_title(resource.title) %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
<% end %>
