<% content_for :slideshow do %>
	<div class="row-fluid"> 
		<div class="span12">
			<%= render "images/shared/carousel", :images => resource.images, :image_style => '980x380#' %>
		</div>
	</div>
<% end if resource.images.try(:any?) %>
<% cache [action_name, I18n.locale, site, resource] do %>
	<div class="row-fluid"> 
		<div class="span12">
			<%= render_page_title(resource.title) %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
<% end %>
