<% cache [action_name, I18n.locale, resource.site, resource] do %>
	<div class="row-fluid"> 
		<div class="span12">
			<%= render_page_title(resource.title) %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
<% end %>
