

$themeColor: #1560bd;
$brandWidth: 120px;

@import "variables";



@import "twitter/bootstrap";
@import "gko/public/base";


h1 { font-size: $baseFontSize * 2; } // ~38px
h2 { font-size: $baseFontSize * 1.5; letter-spacing: 2px;} // ~32px
h3 { font-size: $baseFontSize * 1.25; letter-spacing: 1px;} // ~24px
h4 { font-size: $baseFontSize * 0.75; } // ~18px
h5 { font-size: $baseFontSize; text-transform: uppercase;}
h6 { font-size: $baseFontSize * 1; } // ~12px
* {
	@include box-sizing(border-box);
}
a:focus {
  outline: 0;
}


/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	border-top: 8px solid $themeColor;
	background-image: asset-url("white_linen_v2.png", image);
}


.navbar .row-fluid,
#main-container {
	max-width: 980px;
	@include center-block();
}


#page-text {
	padding: $baseLineHeight;
}
/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar {
	margin-bottom: 0;
	background-image: asset-url("black_linen_v2.png", image);
	.navbar-inner {
		background: none;
	}
	.brand {
		letter-spacing: 4px;
		text-align: left;
		text-transform: uppercase;
		line-height: 42px;
		font-weight: 300;
		font-size: 32px;
		margin: 0;
		padding: $baseLineHeight;
		//background-color: $themeColor;
		a {
			color: $navbarBrandColor;
			cursor: pointer;
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") center center no-repeat;
			text-decoration: none;
			display: block;
			@include square($brandWidth);
			@include hide-text;
			&:hover {
				color: $white;
				text-decoration: none;
			};
		}
	}
	.nav > li > a {
		font-family: $altFontFamily;
		text-transform: uppercase;
		font-size: $baseFontSize - 2;
		letter-spacing: 2px;
		text-shadow: none;
		padding: 4px 15px 4px;
		border-top: 1px solid #424242;
	}
}

.header-nav {
	@include clearfix;
	margin-top: 24px;
}
.header-top {
	position: absolute;
	right: 0;
	top: 0;
	nav {
		float: left;
	}
	.nav > li > a {
		color: #A1A1A1;
		font-size: 11px;
		
	}
}
/*-----------------------------------------
 ASIDE
----------------------------------------- */
aside {
	margin-top: $baseLineHeight * 2;
	.nav > li > a {
		font-family: $altFontFamily;
		text-transform: uppercase;
		font-size: $baseFontSize - 2;
		letter-spacing: 1px;
		text-shadow: none;
		padding: 4px 15px 4px;
		border-top: 1px solid $navbarInverseLinkColor;
		&:hover {
			background: transparent;
			color: $themeColor;
		};
		&.active {
			color: $themeColor;
		}
	}
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
.footer {
	.nav > li > a {
		font-family: $altFontFamily;
		text-transform: uppercase;
		font-size: $baseFontSize - 3;
		letter-spacing: 2px;
		text-shadow: none;
	}
}

/*-----------------------------------------
 CONTENT
----------------------------------------- */
.html-text {
	h2 {
		text-transform: uppercase;
	}
	h3 {
		text-transform: uppercase;
	}
}
.page-title {
	font-weight: normal;
	margin-bottom: $baseLineHeight;
	letter-spacing: 4px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 300;
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
	margin-top: $navbarHeight;
    margin-bottom: $baseLineHeight;
  }

  .carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .carousel-control {
    background-color: transparent;
    border: 0;
    font-size: 120px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }

  .carousel .item {
    //height: 500px;
  }
  .carousel img {
    min-width: 100%;
    //height: 500px;
  }

  .carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }

/* CUSTOMIZE THE COPYRIGHT
  -------------------------------------------------- */
#copyright-container {
	a {
		text-transform: uppercase;
		font-weight: normal;
	}
}
 /* RESPONSIVE CSS
    -------------------------------------------------- */
@import "twitter/bootstrap/responsive";


@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
	#page-text {
		height: auto;
	}
	#main-container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.carousel {
		margin-top: 0;
 		margin-left: -20px;
		margin-right: -20px;
	}

	      .carousel .item {
	       // height: 300px;
	      }
	      .carousel img {
	       // height: 300px;
	      }
	      .carousel-caption {
	        width: 65%;
	        padding: 0 70px;
	        margin-bottom: 40px;
	      }
	      .carousel-caption h1 {
	        font-size: 30px;
	      }
	      .carousel-caption .lead,
	      .carousel-caption .btn {
	        font-size: 18px;
	      }
	
}
@media (max-width: 979px) {


	.navbar-inner {
		background-color: $themeColor;
		//@include gradient-vertical($themeColor, $themeColor);
	  	@include border-radius(0);
	  	@include box-shadow(none);
		padding: 0
	}

	.navbar, .navbar-fixed-top {
		margin-bottom: 0;
		.brand {
			float: none;
			text-align: center;
			margin: $baseLineHeight 0;
		}	
		.nav-collapse {
			border-top: 1px solid lightGrey;
		}

		.nav-collapse nav,
		.nav-collapse .nav {
			@include clearfix();
			margin: 0;
		}
		.nav-collapse .dropdown-menu {
			margin: 0;
		}
		.nav-collapse .nav > li,
		.nav-collapse .dropdown-menu li {
		  	//margin-left: 24px;
			border-bottom: 1px solid $navbarLinkColor;
		}
		.nav-collapse .dropdown-menu li:last-child {
			border-bottom: none;
		}

		.nav-collapse .nav > li > a,
		.nav-collapse .dropdown-menu a {
		  font-weight: normal;
		  @include border-radius(0);
		  &:hover {
				background-color: $themeColor;
				color: $navbarLinkColorHover;
			}
		}
		
	}
	.header-nav {
		margin-top: 0;;
	}
	.carousel .item {
	        //height: 500px;
	      }
	      .carousel img {
	        width: auto;
	        //height: 500px;
	      }	

}
@media (min-width: 980px) {
	.navbar {
		@extend .navbar-fixed-top;
		.nav-collapse .nav {
			float: left;
			
			margin-top: $baseLineHeight;
			margin-left: $baseLineHeight * 2;
			> li {
				float: none;
				> a {
					
				}
			}
			li.dropdown > .dropdown-toggle .caret {
				display:none;
			}
		}
	}
	.header-top {
		nav {
			border-top: 4px solid $themeColor;
		}
	}
}