$themeColor: #1560bd; //a blue
$brandHeight: 120px;

@import "variables";
@import "twitter/bootstrap";
@import "gko/public/base";


h1 { font-size: $baseFontSize * 2; } // ~38px
h2 { font-size: $baseFontSize * 1.5; letter-spacing: 2px;} // ~32px
h3 { font-size: $baseFontSize * 1.25; letter-spacing: 1px;} // ~24px
h4 { font-size: $baseFontSize * 0.75; } // ~18px
h5 { font-size: $baseFontSize; text-transform: uppercase;}
h6 { font-size: $baseFontSize * 1; } // ~12px
* {
	@include box-sizing(border-box);
}
a:focus {
  outline: 0;
}


/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	border-top: 8px solid $themeColor;
	background-image: asset-url("white_linen_v2.png", image);
}



#main-container {
	max-width: 980px;
	@include center-block();
}


// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: $baseLineHeight * 2;
  line-height: $baseLineHeight * 2;
}
// Reset height since textareas have rows
textarea {
  height: 120px;
}
form {
	@extend .well;
	input, textarea {
		width: 100%;
	}
}
/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar {
	margin-bottom: 0;
	background-image: asset-url("blue_linen_v2.jpg", image);
	.navbar-inner {
		background: none;
	}
	.brand {
		letter-spacing: 4px;
		text-align: left;
		text-transform: uppercase;
		line-height: 42px;
		font-weight: 300;
		font-size: 32px;
		margin: 0;
		padding: 0;
		//background-color: $themeColor;
		a {
			color: $navbarBrandColor;
			cursor: pointer;
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") center center no-repeat;
			text-decoration: none;
			display: block;
			@include square($brandHeight);
			@include hide-text;
			&:hover {
				color: $white;
				text-decoration: none;
			};
		}
	}
	.dropdown-menu li > a,
	.nav > li > a {
		font-family: $altFontFamily;
		text-transform: uppercase;
		font-size: $baseFontSize - 2;
		letter-spacing: 1px;
		text-shadow: none;
		padding: 4px 12px 4px;
		//border-top: 1px solid #424242;
	}

	.nav-collapse {
		
		.dropdown-menu {
			background: #202331;
		}
		.dropdown-menu > li > a {
			color: $navbarLinkColor;
		}
		.nav > li > a:hover,
		.nav > li > a:focus,
		.dropdown-menu li > a:hover, 
		.dropdown-menu li > a:focus, 
		.dropdown-submenu:hover > a {
			color: $navbarLinkColorHover;
			background-color: $themeColor;
			@include gradient-vertical($themeColor, $themeColor);
		}
	}
}

.header-nav {
	@include clearfix;
	//margin-top: 24px;
}
.header-top {
	position: absolute;
	right: 0;
	top: 0;
	nav {
		float: left;
	}
	.nav > li > a {
		color: #A1A1A1;
		font-size: 11px;
		
	}
}

a#member-access {
	@include border-radius(0 0 8px 8px);
	background-color: $themeColor;
}
/*-----------------------------------------
 ASIDE
----------------------------------------- */
aside {
	margin-top: $baseLineHeight * 2;
	.nav > li > a {
		font-family: $altFontFamily;
		text-transform: uppercase;
		font-size: $baseFontSize - 2;
		letter-spacing: 1px;
		text-shadow: none;
		padding: 4px 15px 4px;
		border-top: 1px solid $navbarInverseLinkColor;
		&:hover {
			background: transparent;
			color: $themeColor;
		};
		&.active {
			color: $themeColor;
		}
	}
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
.footer {
	.nav > li > a {
		font-family: $altFontFamily;
		text-transform: uppercase;
		font-size: $baseFontSize - 3;
		letter-spacing: 2px;
		text-shadow: none;
	}
}

/*-----------------------------------------
 CONTENT
----------------------------------------- */
.html-text {
	h1,
	h2,
	h3 { line-height: $baseLineHeight * 1.5; }
	h2 {
		text-transform: uppercase;
	}
	h3 {
		text-transform: uppercase;
	}
}
.page-title {
	font-weight: normal;
	margin-bottom: $baseLineHeight;
	letter-spacing: 4px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 300;
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: $baseLineHeight;
  }

  .carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .carousel-control {
    background-color: transparent;
    border: 0;
    font-size: 120px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }

  .carousel img {
    min-width: 100%;
  }

  .carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }

/* CUSTOMIZE THE COPYRIGHT
  -------------------------------------------------- */
#copyright-container {
	a {
		text-transform: uppercase;
		font-weight: normal;
	}
}
 /* RESPONSIVE CSS
    -------------------------------------------------- */
@import "twitter/bootstrap/responsive";


@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
	#main-container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.carousel {
		margin-top: 0;
 		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}
    .carousel-caption {
		width: 65%;
		padding: 0 70px;
		margin-bottom: 40px;
	}
	.carousel-caption h1 {
		font-size: 30px;
	}
	.carousel-caption .lead,
	.carousel-caption .btn {
		font-size: 18px;
	}
	aside {
		margin-top: 0;
		.nav > li > a {
			border-top: none;
			border-bottom: 1px solid $navbarInverseLinkColor;
			&:hover,
			&:focus {
				background-color: $themeColor;
				color: $white;
			};
			&.active {
				background-color: $themeColor;
				color: $white;
			}
		}
	}
}
@media (max-width: 979px) {


	.navbar-inner {
		background-color: $themeColor;
		//@include gradient-vertical($themeColor, $themeColor);
	  	@include border-radius(0);
	  	@include box-shadow(none);
		padding: 0;
		border: none;
	}

	.navbar, .navbar-fixed-top {
		margin-bottom: 0;
		.brand {
			float: none;
			text-align: center;
			margin: $baseLineHeight 0;
		}	
		.nav-collapse {
			//border-top: 1px solid lightGrey;
		}

		.nav-collapse nav,
		.nav-collapse .nav {
			@include clearfix();
			margin: 0;
		}

		.nav-collapse .nav > li,
		.nav-collapse .dropdown-menu li {
		  	//margin-left: 24px;
			border-bottom: 1px solid $navbarLinkColor;
		}
		.nav-collapse .dropdown-menu li:last-child {
			border-bottom: none;
		}


		.nav-collapse {
			.nav > li > a,
			.dropdown-menu li > a, 
			.dropdown-submenu > a {
				font-weight: normal;
			  	@include border-radius(0);
				padding-left: 20px;
				padding-right: 20px;
			}
			.nav > li > a:hover,
			.nav > li > a:focus,
			.dropdown-menu li > a:hover, 
			.dropdown-menu li > a:focus, 
			.dropdown-submenu:hover > a {
				color: $navbarLinkColorHover;
				background-color: $themeColor;
				@include gradient-vertical($themeColor, $themeColor);
			}
		}

		
	}
	.header-nav {
		margin-top: 0;;
	}
	.carousel .item {
		.carousel img {
	        width: auto;
		}	
	}
	
}



@media (min-width: 980px) {

	.navbar {
		@extend .navbar-fixed-top;
		.nav-collapse {
			margin-top: 92px;
			.nav {
				float: left;
				margin-left: 0;
				> li > .dropdown-menu {
					@include border-radius(0 0 8px 8px);
				}
			}
		}
	}
				/*li.dropdown > .dropdown-toggle .caret,
				li.dropdown.open > .dropdown-toggle .caret, 
				li.dropdown.active > .dropdown-toggle .caret, 
				li.dropdown.open.active > .dropdown-toggle .caret {
					display:none;
				}
			}
			.nav > li > .dropdown-menu:before,
			.nav > li > .dropdown-menu:after{
				display:none;
			}
			.dropdown-menu {
				margin: 0;
				background: none;
				position: relative;
				top: auto;
				left: auto;
				@include border-radius(none);
				@include box-shadow(none);
				border: none;
				> li > a {
					color: $navbarLinkColor;
					&:hover {
						color: $navbarLinkColorHover;
						background: none;
					}
					&:focus {
						color: $navbarLinkColorActive;
						background: none;
					}
					
				}
			}*/


	.header-top {
		nav {
			//border-top: 4px solid $themeColor;
		}
	}
	.carousel {
		margin-top: $navbarHeight - 10;//Why -10 is necessary?
  }
}